/*Medidas media querys : mobile = 480px tablet = 1024*/

/* =============== Variables de Color ================= */
:root {
    --color-azul: #394159;
    --color-azul-claro: #6894A6;
    --color-verde: #00fca8;
    --color-cobre: #BF8173;
    --color-celeste: #ecf9ff;
    --color-negro: #000000;
    --color-blanco: #ffffff;
}

/* =============== Estilos Generales ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cuerpo {
    background-color: var(--color-celeste);
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
    overflow-y: scroll;
    font-size: 20px;
}

/* =============== Encabezado ================= */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-azul-claro);
    width: 100%;
    height: 200px;
    padding-left: 16px;
    padding-right: 16px;
    color: var(--color-celeste);
}

.contenedor-img-h {
    width: 500px;
}

.contenedor-img-h img {
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: var(--color-blanco);
}

nav ul li a:hover {
    color: var(--color-verde);
}

.menu-hamburguesa {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 3px;
    background-color: var(--color-celeste);
    margin: 3.5px 0;
    border-radius: 5px;
}

/* =============== Estilos Carrusel ================= */
.seccion-carrusel {
    margin-top: 100px;
    margin-bottom: 80px;
}

.relacion-aspecto {
    border-radius: 20px;
    aspect-ratio: 16/9;
    object-fit: cover;
    filter: brightness(40%);
}

.texto-carrusel h5,
.texto-carrusel p {
    color: var(--color-celeste);
    border-radius: 10px;
}

/* =============== Estilos sección artículos ================= */

.seccion-articulos {
    margin-bottom: 80px;
}

.contenedor-articulo h2 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.contenedor-articulo .contenedor-img {
    width: 100%;
    margin-bottom: 80px;
    padding: 0;
}

.contenedor-articulo .contenedor-img img {
    border: 15px solid var(--color-blanco);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    aspect-ratio: 16/9;
    object-fit: cover;
}

.contenedor-articulo .parrafo {
    text-indent: 50px;
}

/* =============== Radio Online ================= */

.radio-online {
    margin-bottom: 80px;
}

.contenedor-aside-r h3 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 80px;
}

/* Pie de página */
footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    position: relative;
    background-color: var(--color-azul-claro);
    color: var(--color-celeste);
    clear: both;
}

footer a {
    color: var(--color-verde);
    text-decoration: none;
}

/* Media Queries */
@media only screen and (max-width: 1199px) {
    .contenedor-img-h {
        width: 370px;
    }

    .contenedor-img-h img {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {

    .contenedor-img-h {
        width: 300px;
    }

    .contenedor-img-h img {
        width: 100%;
    }

    nav ul li {
        display: block
    }

    nav {
        position: relative;

    }

    .menu-hamburguesa {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: var(--color-azul-claro);
        margin: 0;
        text-align: center;
        transition: max-height 0.5s ease-in-out;
    }

    .menu.active {
        display: flex;
    }
}