/* =============== Variables de Color ================= */
/* psiblemente tendremos que eliminar las variables de css */
:root {
    --color-azul: #394159;
    --color-azul-claro: #6894A6;
    --color-verde: #00fca8;
    --color-cobre: #BF8173;
    --color-celeste: #ecf9ff;
    --color-negro: #000000;
    --color-blanco: #ffffff;
}

/* =============== Estilos Generales ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cuerpo {
    background-color: var(--color-celeste);
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;
    overflow-y: scroll;
    font-size: 22px;
}

.main-contenido h1 {
    font-family: "Freeman";
    font-size: 70px;
    font-weight: 400;
    margin-top: 100px;
    padding: 20px 0;
    text-align: center;
    background-image: linear-gradient(to left, #007adf 0%, #00ecbc 100%);
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--color-blanco);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* =============== Encabezado ================= */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-azul-claro);
    width: 100%;
    height: 200px;
    padding-left: 16px;
    padding-right: 16px;
    color: var(--color-celeste);
}

.contenedor-img-h {
    width: 500px;
}

.contenedor-img-h img {
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: var(--color-blanco);
    font-weight: 500;
}

nav ul li a.active {
    color: var(--color-verde);
}

nav ul li a:hover {
    color: var(--color-verde);
}

.menu-hamburguesa {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 3px;
    background-color: var(--color-celeste);
    margin: 3.5px 0;
    border-radius: 5px;
}

/* =============== Estilos Carrusel ================= */

.seccion-carrusel {
    margin-top: 100px;
    margin-bottom: 100px;
}

.carousel-item h2 {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
}

.relacion-aspecto {
    border-radius: 20px;
    aspect-ratio: 16/9;
    object-fit: cover;
    filter: brightness(50%);
}

.texto-carrusel h2,
.texto-carrusel p {
    color: var(--color-celeste);
    border-radius: 10px;
}

/* =============== Sección Principal ========================= */

.seccion-principal {
    margin-bottom: 80px;
}

.tarjeta-grande h2 {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
}

.tarjeta-grande button {
    border: none;
    border-radius: 7px;
    background-color: var(--color-verde);
    padding: 3px 10px;
    transition: all 0.3s ease-in-out;
}

.tarjeta-grande button:hover {
    border: none;
    border-radius: 7px;
    background-color: var(--color-verde);
    padding: 3px 10px;
    transform: scale(1.08);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
}

.tarjeta-grande button a {
    text-decoration: none;
    color: var(--color-negro);
    font-weight: 700;
}

.tarjeta-grande img {
    aspect-ratio: 16/9;
    object-fit: cover;
}

/* =============== Estilos sección artículos ================= */

.seccion-articulos {
    margin-bottom: 80px;
    padding: 0 20px;
}

.contenedor-articulo h2 {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-transform: uppercase;
}

.contenedor-articulo .contenedor-img {
    width: 100%;
    margin-bottom: 80px;
    padding: 0;
}

.contenedor-articulo .contenedor-img img {
    border: 15px solid var(--color-blanco);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    aspect-ratio: 16/9;
    object-fit: cover;
}

.contenedor-articulo .parrafo {
    text-indent: 50px;
}

/*=================== Galería ====================*/

.titulo-galeria {
    margin-top: 100px;
    margin-bottom: 100px;
}

.titulo-galeria h2 {
    font-family: "Freeman", sans-serif;
    font-size: 50px;
    margin-bottom: 30px;
}

.texto-descarga {
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
}

.contenedor-grilla {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(180px, auto);
    gap: 40px;
    padding: 20px;
    grid-auto-flow: dense;
    margin-bottom: 100px;
}

.item {
    transition: transform 0.4s ease-in-out, filter 0.3s ease-in-out;
    filter: saturate(50%);
}

.item:hover {
    transform: scale(1.05) rotate(1deg);
    cursor: pointer;
    filter: saturate(130%) brightness(100%) drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.7));
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* ================== Sobre mí ================== */

.bio {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: var(--color-blanco);
    padding: 100px;
}

.bio-titulo {
    margin-bottom: 100px;
}

.bio-parrafos {
    padding: 0 50px;
    margin-bottom: 80px;
}

.bio-titulo h2 {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
}

.bio-titulo h3 {
    font-family: "Freeman", sans-serif;
    font-weight: 400px;
    font-size: 40px;
    margin-bottom: 50px;
}

.bio-parrafos h4 {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}

.bio-parrafos p {
    text-indent: 50px;
}

/* ================ Formulario ================== */

.contenedor-formulario {
    border-radius: 15px;
    background-image: linear-gradient(to left, #007adf 0%, #00ecbc 100%);
    margin: 100px 0;
}

.parrafo-formulario {
    margin: 50px 0;
    padding: 0 100px;
}

.parrafo-formulario h2 {
    margin-bottom: 90px;
    color: var(--color-blanco);
    text-transform: uppercase;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-size: 30px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));
}

.parrafo-formulario p {
    color: var(--color-blanco);
    text-indent: 50px;
    font-weight: 500;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));

}

.formulario {
    margin: 50px 0;
}

.formulario div label {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    margin-top: 10px;
    color: var(--color-blanco);
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));
}

.formulario div input {
    width: 75%;
    height: 35px;
    padding: 0 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: none;
    background-color: var(--color-blanco);
    color: var(--color-negro);
}

.formulario div textarea {
    border: none;
    width: 75%;
    height: 300px;
    padding: 15px;
    border-radius: 10px;
}

.formulario div button {
    font-weight: 700;
    border: none;
    border-radius: 7px;
    background-color: var(--color-verde);
    padding: 3px 10px;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
}

.formulario div button:hover {
    border: none;
    border-radius: 7px;
    background-color: var(--color-verde);
    padding: 3px 10px;
    transform: scale(1.08);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
    color: var(--color-blanco);

}

.redes-sociales {
    border-radius: 15px;
    background-image: linear-gradient(to left, #007adf 0%, #00ecbc 100%);
    padding: 80px 0;
    margin-bottom: 100px;
}

.redes-sociales a i {
    font-size: 42px;
    color: var(--color-blanco);
}

.redes-sociales a {
    transition: all 0.5s ease-in-out;
}

.redes-sociales a:hover {
    transform: scale(1.5);
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.5));
}

/* =============== Radio Online ================ */

.radio-online {
    margin-bottom: 80px;
}

.contenedor-aside-r h1 {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 80px;
}

/* Pie de página */
footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    position: relative;
    background-color: var(--color-azul-claro);
    color: var(--color-celeste);
    clear: both;
}

footer a {
    color: var(--color-verde);
    text-decoration: none;
}

/* ==================== Media Queries ===================== */

@media only screen and (max-width: 1400px) {

    .cuerpo {
        font-size: 18px;
    }

    .seccion-carrusel,
    .seccion-principal,
    .seccion-articulos,
    .radio-online,
    .titulo-galeria,
    .bio,
    .contenedor-formulario {
        max-width: 900px;
    }

    .tarjeta-grande h2,
    .titulo-galeria h2 {
        font-size: 24px;
    }

    .contenedor-articulo h2 {
        font-size: 24px;
    }

    .contenedor-img-h {
        width: 370px;
    }

    .contenedor-img-h img {
        width: 100%;
    }

    .contenedor-articulo .contenedor-img img {
        border: 10px solid var(--color-blanco);
    }
}

@media only screen and (max-width: 1024px) {

    .main-contenido h1 {
        font-size: 40px;
    }

    .contenedor-img-h {
        width: 300px;
    }

    .contenedor-img-h img {
        width: 100%;
    }

    nav ul li {
        display: block
    }

    nav {
        position: relative;

    }

    .menu-hamburguesa {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        gap: 10px;
        background-color: var(--color-azul-claro);
        margin: 0;
        text-align: center;
        transition: max-height 0.5s ease-in-out;
    }

    .menu.active {
        display: flex;
    }

    .bio {
        max-width: 600px;
        padding-top: 100px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .bio-parrafos {
        padding: 0 10px;
    }

    .bio-titulo h2,
    .bio-titulo h3 {
        font-size: 30px;
    }

    .bio-parrafos h4 {
        font-size: 20px;
    }

    .bio-parrafos p {
        font-size: 18px;
    }

    .contenedor-formulario {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .parrafo-formulario h2 {
        font-size: 30px;

    }
}

@media only screen and (max-width: 767px) {
    .relacion-aspecto {
        border-radius: 20px;
        aspect-ratio: 1/1;
        object-fit: cover;
        filter: brightness(100%);
    }

    .seccion-articulos article p {
        text-align: justify;
    }

    .contenedor-articulo .contenedor-img img {
        border: 5px solid var(--color-blanco);
    }

    .bio {
        max-width: 400px;
        padding-top: 100px;
    }

    .bio-parrafos {
        padding: 0 10px;
    }

    .bio-titulo h2,
    .bio-titulo h3 {
        font-size: 24px;
    }

    .bio-parrafos h4 {
        font-size: 20px;
    }

    .bio-parrafos p {
        font-size: 18px;
    }

    .contenedor-formulario {
        max-width: 380px;
    }

    .parrafo-formulario {
        padding: 0 10px;
    }

    .redes-sociales {
        max-width: 380px;
    }

    .main-contenido .container {
        max-width: 380px;
    }
}

@media (min-width: 768px) {
    .grande {
        grid-column: span 3;
        grid-row: span 2;
    }

    .alto {
        grid-row: span 2;
    }

    .ancho {
        grid-column: span 2;
    }
}