.main-contenido {
  padding: 0 12px;
}

/* TÍTULOS */
.contenedor-titulo {
  @include margin-t;
  padding: 0;

  .titulo-pagina {
    padding: 20px 0;
    text-align: center;
    background-image: $degradado-azul-verde;
    border-radius: $redondeo-alto;
    text-transform: uppercase;
    color: $blanco;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
}

/* ARTICULOS */

.seccion-articulos {
  @include margin-b;
  padding: 0;

  .contenedor-articulo h2 {
    @include margin-tb(100px, 100px);
  }

  .contenedor-img {
    width: 100%;
    @include margin-b;
    padding: 0;

    & img {
      border: 15px solid $blanco;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
      aspect-ratio: 16/9;
      object-fit: cover;
    }
  }

  .parrafo {
    text-indent: 50px;
  }
}

/* GALERÍA */

.contenedor-txt {
  .titulo-galeria {
    @include margin-b;

    & h2 {
      @include margin-tb(100px, 100px);
    }
  }

  .texto-descarga {
    font-weight: $media;
    text-transform: uppercase;
    margin-top: 20px;
  }
}

.contenedor-grilla {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(180px, auto);
  gap: 40px;
  padding: 20px;
  grid-auto-flow: dense;
  margin-bottom: 100px;
}

.item {
  transition:
    transform 0.4s ease-in-out,
    filter 0.3s ease-in-out;
  filter: saturate(50%);

  &:hover {
    transform: scale(1.05) rotate(1deg);
    cursor: pointer;
    filter: saturate(130%) brightness(100%) drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.7));
  }

  & img {
    @include tamaños(100%, 100%);
    object-fit: cover;
    border-radius: $redondeo-alto;
  }
}

/* SOBRE MÍ */

.bio {
  @include margin-tb(100px, 100px);
  background-color: $blanco;
  padding: 100px;

  &-titulo {
    @include margin-b;

    h2 {
      margin-bottom: 10px;
    }
  }

  &-parrafos {
    padding: 0 50px;
    @include margin-b;

    h4 {
      margin-bottom: 30px;
    }

    p {
      text-indent: 50px;
    }
  }
}

/* CONTACTAME */

.contenedor-formulario {
  border-radius: $redondeo-alto;
  background-image: $degradado-azul-verde;
  @include margin-tb(100px, 100px);

  .parrafo-formulario {
    margin: 100px 0;
    padding: 0 50px;
  }

  & h2 {
    @include margin-b;
    color: $blanco;
    text-transform: uppercase;
    filter: $sombra;
  }

  & p {
    color: $blanco;
    font-weight: $media;
    filter: $sombra;
  }

  .formulario {
    margin: 50px 0;

    label {
      font-family: $fuente-titulo;
      font-weight: $regular;
      margin-top: 10px;
      color: $blanco;
      filter: $sombra;
    }

    input {
      @include tamaños(75%, 35px);
      padding: 0 15px;
      margin-top: 5px;
      margin-bottom: 10px;
      border-radius: $redondeo-alto;
      border: none;
      background-color: $blanco;
      color: $negro;

      &:focus {
        outline: none;
        border: 1px solid $verde;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3), inset 0px 0px 10px $verde;
      }
    }

    textarea {
      border: none;
      @include tamaños(75%, 300px);
      padding: 15px;
      border-radius: $redondeo-medio;

      &:focus {
        outline: none;
        border: 1px solid $verde;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3), inset 0px 0px 10px $verde;
      }
    }

    button {
      @include btn-verde;
      margin-top: 30px;
    }
  }
}

.redes-sociales {
  border-radius: $redondeo-alto;
  background-image: $degradado-azul-verde;
  padding: 80px 0;
  @include margin-b;

  & a {
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.5);
      filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.5));
    }

    & i {
      font-size: 42px;
      color: $blanco;
    }
  }
}