* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fuente-cuerpo;
}

body {
  background-color: $celeste;
  overflow-y: scroll;
  font-size: $fuente-normal;
  font-weight: $ligera;
}